<%- include('partials/header')  %>

<h1 class="cards2">profileName</h1>

<div class="card-deck cards1">
  <div class="card">
    <div class="card-body">
      <h3>EVENT-1</h3>
      <a class="btn btn-dark btn-lg" href="/form" role="button">Enroll</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>EVENT-1</h3>
        <a class="btn btn-dark btn-lg" href="/form" role="button">Enroll</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>EVENT-1</h3>
        <a class="btn btn-dark btn-lg" href="/form" role="button">Enroll</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>EVENT-1</h3>
        <a class="btn btn-dark btn-lg" href="/form" role="button">Enroll</a>
    </div>
  </div>
</div>
<br>
<div class="card-deck cards1">
  <div class="card">
    <div class="card-body">
      <h3>EVENT-2</h3>
        <a class="btn btn-dark btn-lg" href="/form" role="button">Enroll</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>EVENT-2</h3>
        <a class="btn btn-dark btn-lg" href="/form" role="button">Enroll</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>EVENT-2</h3>
        <a class="btn btn-dark btn-lg" href="/form" role="button">Enroll</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>EVENT-2</h3>
      <a class="btn btn-dark btn-lg" href="/form" role="button">Enroll</a>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
