<%- include('partials/header')  %>



<div class="">
 <p>Hello!</p>
 <p>Welcome to EC Fest.</p>
</div>

<div class="">
  <a class="btn btn-light btn-lg" href="/register" role="button">SignUp</a>
  <a class="btn btn-dark btn-lg" href="/login" role="button">SignIn</a>
</div>




 <%- include('partials/footer') %>
