<%- include('partials/header')  %>


<h1 class="cards2"> profileName</h1>

<div class="card-deck">

  <div class="card">
    <div class="card-header">
      <h1>Fun Event</h1>
    </div>
    <div class="card-body bodies">
      <p>Lorem Ipsum is simindustry's ook. It has survived not only five centuries,njjrijei but also the leap iged. It was popularised in the 1960s with the releas</p>
      <a class="btn btn-dark btn-lg" href="/events" role="button">ViewAll</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h1>Ideathon</h1>
    </div>
    <div class="card-body bodies">
      <p>m Ipsum is that it has, contem Ipsum as w3443ti34tel text, and a search for 'lorem ipsum' wons have evolved over t sometimes on purpose (injected humour and the like).</p>
      <a class="btn btn-dark btn-lg" href="/events" role="button">ViewAll</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h1>Tech Event</h1>
    </div>
    <div class="card-body bodies">
      <p>ontrary to popular belief,in lhe more obscure Latin words, consectetur, from a Lorem Ipsum passage, and the undoubtable source. Lorem Ipsum comes from sections 1</p>
      <a class="btn btn-dark btn-lg" href="/events" role="button">ViewAll</a>
    </div>
  </div>



</div>







<%- include('partials/footer') %>
